@import "tailwindcss";

@theme {
    --color-brand-header: #2b6675;
    --color-brand-accent: #AA9559;
}

@import "./pages/home/Home.css";
@import "./components/layout/Navbar.css";
@import "./components/common/core/Button.css";
@import "./components/common/core/Input.css";
@import "./components/common/core/Select.css";
@import "./components/common/core/Textarea.css";
@import "./components/common/core/Form.css";
@import "./components/common/custom/Badge.css";
@import "./components/common/custom/Meter.css";

@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@keyframes scaleIn {
    from {
        opacity: 0;
        transform: scale(0.97);
    }

    to {
        opacity: 1;
        transform: scale(1);
    }
}

.animate-fade-in {
    animation: fadeIn 0.15s ease-out forwards;
}

.animate-scale-in {
    animation: scaleIn 0.15s ease-out forwards;
}

@layer base {
    h1 {
        @apply text-4xl text-white;
    }
}